/*My css code*/

.Login-Introduction .login-message{
    text-align: center;
}
.wineInfo-btCls{
    font-size: 90%;
}
.backBt{
    font-size: 90%;
}
.wineInfoTable .leftSideofTable{
    width: 45%;
}
.wineInfoTable .rightSideofTable{
    width: 55%;

}
.wineInfoTable tr:nth-child(odd){
    background-color: #f1f8f6;
}
.wineInfoTable tr:nth-child(even){
    background-color: #eaebff;
}
/*.toolbarCls{*/
    /*font-size: 80%;*/
/*}*/
/* End my css code*/